table,th,tr,td{
    border-collapse: collapse;
    width:50%
}
tr:nth-child(even){
    background-color: white;

}
tr:nth-child(odd){
    background-color:rgb(226,239,218)
}
th{
    background-color:rgb(112,173,71);
    color: white;
}
tr:nth-child(16){
    background-color: rgb(255,242,204);
    font-weight:bold;
}